@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  line-height: 2;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border: 0;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: white;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.493);
  color: white;
}

.mobile {
  display: none;
}

h1 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}

.arrow {
  margin-top: 5%;
}

.hero {
  background-image: url(./images/desktop/image-header.jpg);
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sub-hero {
  text-align: center;
  padding-top: 5%;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.Navbar__Items a {
  padding: 0 20px;
}

.Navbar__Link-toggle {
  display: none;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

img {
  max-width: 100%;
}

.section-content {
  padding: 0 10%;
}

.graphic,
.photography {
  position: absolute;
  background-position: center;
  background-size: cover;
  margin-top: -1%;
}

.content {
  position: relative;
  margin: auto;
  margin-top: 320px;
  width: 50%;
  text-align: center;
}

h2 {
  margin: 5% 0;
  width: 300px;
  font-weight: 900;
}

p {
  color: hsl(213, 9%, 39%);
}

.link-yellow {
  color: black;
  border-bottom: 2px solid hsl(51, 100%, 49%);
}

.link-cyan {
  color: black;
  border-bottom: 2px solid hsl(7, 99%, 70%);
}

.testimonies {
  padding-top: 10%;
  text-align: center;
}

.testimonies h3 {
  color: hsl(213, 9%, 39%);
  letter-spacing: 5px;
  font-weight: 900;
  font-family: 'Fraunces', serif;
}

.testimon-flexbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  padding: 5%;
}

.testimon-grid img {
  max-width: 20%;
  border-radius: 50%;
  padding: 5% 0;
}

.contact {
  padding: 10% 0;
}

.contact p {
  color: hsl(232, 10%, 55%);
}

.gallery {
  display: flex;
}

footer {
  padding: 3% 0;
  text-align: center;
  background-color: hsla(168, 58%, 46%, 0.904);
  margin-top: -10px;
  color: hsl(168, 41%, 43%);
}

footer nav a {
  padding: 0 15px;
  color: hsl(167, 40%, 24%);
}

footer nav {
  padding: 20px 0;
}

footer a:hover {
  color: white;
}

.social-links a:hover {
  filter: brightness(0) invert(1);
}

.social-links a {
  padding: 0 10px;
  color: hsl(198, 62%, 26%);
}

.footer-logo {
  filter: drop-shadow(16px 16px 20px red) invert(75%);
}

.footer-link {
  padding: 10px 20px;
}

@media only screen and (max-width: 768px) {
  body {
    max-width: 100%;
  }

  .hero {
    background-image: url(./images/mobile/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 400px;
  }

  .arrow {
    width: 20px;
  }

  .sub-hero {
    font-size: 20px;
    line-height: 50px;
  }

  .Navbar__Link-brand {
    width: 100px;
  }

  .Navbar__Items,
  .Navbar {
    flex-direction: column;
    padding: 10% 5%;
  }

  .Navbar__Items {
    display: none;
    background-color: white;
    align-items: center;
    padding: 5px 0;
    margin-top: 30px;
  }

  .Navbar__Items a {
    padding: 20px 0;
    color: hsl(210, 4%, 67%);
  }

  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }

  button {
    background-color: hsl(51, 100%, 49%);
    padding: 20px 30px;
    margin: 10px 0 20px 0;
    border-radius: 40px;
    font-weight: 900;
    color: hsl(213, 9%, 39%);
  }

  .grid_container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .stand-out {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
  }

  .graphic-design {
    flex-direction: column;
    width: 100%;
  }

  .graphic,
  .photography,
  .images {
    display: none;
  }

  .mobile {
    display: block;
    max-height: 100%;
  }

  .content {
    width: 100%;
    padding: 0 10%;
  }

  .section-grid .content {
    margin-top: -250px;
    padding-bottom: 10%;
  }

  .section-content {
    padding: 10%;
  }

  .testimonies {
    padding: 25% 5%;
  }

  .testimon-flexbox {
    grid-template-columns: auto;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    padding: 50px 0;
  }


}
